body {
  font-family: sans-serif;
  line-height: 25px;
}

a {
  color: #666;
}

.logo {
  font-family: fantasy;
  font-weight: 800;
  font-size: 60px;
  margin-bottom: 60px;
}

.center {
  text-align: center;
}

.content {
  margin: 0 10%;
}

.underline {
  text-decoration: underline;
}

h3 {
  margin-top: 50px;
}

.code {
  color: rgb(219, 124, 92);
}

.italics {
  font-style: italic;
}